* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
}

.header {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
  position: sticky;
  width: 100%;
}

.header__link-container {
  align-items: center;
  display: flex;
  padding: 0 10px;
}

.header__link-container--left {
  justify-self: end;
}

.link {
  margin: 10px 2px;
  padding: 0 8px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:visited,
.link {
  color: black;
}

.info {
  background-color: #f2f2f2;
  border: 1px solid #e4e4e4;
  display: none;
  height: 0px;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 60px;
  transition: height 600ms ease-out;
  width: 100%;
  z-index: 0;
}

.info__triangle {
  border-bottom: 11px solid #e4e4e4;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  left: 0;
  position: fixed;
  width: 0;
}

.info__triangle > div {
  border-bottom: 11px solid #f2f2f2;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  left: 0;
  position: fixed;
  transform: translate(-15px, 1px);
  width: 0;
  z-index: 10;
}

.info__instructions {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  margin: 20px;
  width: 900px;
}

.info__instructions__button {
  background-color: white;
  color: black;
  font-size: 13px;
  margin: 0;
  padding: 0 4px;
  width: auto;
}

.info__instructions__button:disabled {
  opacity: 0.5;
}

.info__instructions__or {
  align-self: center;
  justify-self: center;
}

.info__instructions__code {
  color: red;
  font-family: monospace;
}

.info__instructions__list__item {
  margin-left: 20px;
}

.info__about {
  /* default display flex */
  display: none;
  justify-content: space-between;
  margin: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.info__about > p:not(:last-child) {
  padding-right: 20px;
}

.heading-title {
  margin: 100px 0 25px 0;
  font-family: 'Lato', sans-serif;
}

.heading-title > * {
  font-size: 70px;
}

.heading-title > .red {
  color: #db4437;
}
.heading-title > .blue {
  color: #4285f4;
}
.heading-title > .green {
  color: #0f9d58;
}
.heading-title > .yellow {
  color: #f4b400;
}

.search {
  border-radius: 25px;
  border: 1px solid lightgray;
  overflow: hidden;
  padding: 10px 0px;
  width: 582px;
  position: relative;
}

.search:hover,
.search:active {
  box-shadow: 0px 1px 9px -4px grey;
}

.search__form {
  display: flex;
}

.search__icon {
  fill: gray;
  height: 30px;
  padding: 0 16px;
}

.search__input {
  background-color: none;
  border: none;
  font-size: 18px;
  height: 30px;
  outline: none;
  width: 100%;
}

.search__underline {
  border-top: 1px solid #e8eaed;
  padding-bottom: 4px;
  margin: 10px 20px 10px 14px;
}

.search__results__list {
  margin: 0px;
  padding: 0px;
}

.search__results__list > li {
  align-items: center;
  display: flex;
  list-style-type: none;
}

.search__results__list > li:hover {
  background-color: #eee;
}

.search__results__list > li,
.search__results__list > li > b {
  font-size: 18px;
}

.search__btn-container {
  display: flex;
  justify-content: center;
}

.search__button {
  background-color: #f2f2f2;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  color: #5f6368;
  font-size: 16px;
  margin: 11px 4px;
  padding: 8px 16px;
  width: 145px;
}

.search__button:hover {
  border-color: #c6c6c6;
}

.search__button:focus {
  border: 1px solid blue;
  outline: none;
}

.search__button:disabled {
  opacity: 0.5;
  border: none;
}

.search__metrics {
  position: absolute;
  bottom: 2px;
  right: 20px;
  color: #70757a;
  font-style: italic;
  font-size: 10px;
}

.search__metrics:hover {
  text-decoration: underline;
}

.footer {
  align-items: center;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  bottom: 0;
  color: #5f6368;
  display: flex;
  height: 40px;
  justify-content: space-between;
  left: 0;
  padding: 0 15px;
  position: absolute;
  width: 100%;
}

.footer__link__container,
.footer__number__container {
  display: flex;
  align-items: center;
}

.footer__number__container > p {
  margin: 0 10px;
  width: 180px;
}

.footer__link {
  display: flex;
  margin: 0 15px;
  width: 165px;
}

.footer__link,
.footer__link:visited {
  color: #5f6368;
}

.footer__number {
  width: 40px;
}
